*
{
    box-sizing: border-box;
    /* border,padding in width,height */
}
body
{
    overflow-x:hidden;
}
/* header-top */

.header__top
{
    color: white;
    background-color: var(--color-green);
    text-align: center;
    padding: 10px;
}
/* header-introduce */
.header__introduce
{
    border: 1px solid #ddd;
}
.header__introduce .header__wrap
{
    display: flex;
    align-items: center;
}
.header__logo Link 
{
    display: block;
}
.header__introduce .header__wrap .header__logo
{
    width: 25%;
}
.header__introduce .header__wrap .header__logo img
{
    padding: 5px 0px;
    width: 100%;
    height: 100%;
}
.header__introduce .header__wrap .header__search
{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0px 20px;
}
.header__introduce .header__wrap .header__search input{
    padding: 10px 20px;
    border: 2px solid var(--color-green);
    width:500px;
    outline: none;
    border-radius: 30px 0px 0px 30px;
}
.header__introduce .header__wrap .header__search .header__button
{
    border: 2px solid var(--color-green);
    border-radius: 0px 30px 30px 0px;
    /* padding: 10px 20px; */
    height: 100%;
    background-color: var(--color-green);
    color:var(--color-bg);
    cursor: pointer;
}
.header__introduce .header__wrap .header__contact
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__introduce .header__wrap .header__contact .header__icon
{
    background-color: var(--color-green);
    color:var(--color-bg);
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.header__introduce .header__wrap .header__contact .header__tele
{
    font-weight: 500;
    font-size: 18px;
    color: var(--color-green);
}
.header__introduce .header__wrap .header__contact .header__login
{
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    color: var(--color-green);
}
.header__introduce .header__wrap .header__contact .header__login:hover
{
    color:green;
}
.header__introduce .header__wrap .header__contact .header__sign-up:hover
{
    color:green;
}
.header__introduce .header__wrap .header__contact .header__sign-up
{
    font-weight: 500;
    font-size: 18px;
    color: var(--color-green);
}
.header__introduce .header__wrap .header__contact .header__logout
{
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    color: var(--color-green);
}
.header__introduce .header__wrap .header__contact .header__logout:hover
{
    color:green;
}
.header__introduce .header__wrap .header__contact .header__link--login,.header__link--sign-up,.header__link--logout
{
    display: block;
}
/* header-main */
.header__main
{
   box-shadow: 3px 10px 13px#0000000d;
    z-index: 999;
   background-color: var(--color-bg);
}
.header__main .header__wrap
{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.header__main .header__wrap .header__category
{
    width: 20vw;
}

.header__main .header__wrap .header__category--title
{
    width: 100%;
    display: flex;
    background-color: var(--color-green);
    color:var(--color-bg);
    padding: 16px;
    cursor: pointer;
    margin-right: 20px;
   
}
.header__main .header__wrap .header__category--title .header__icon
{
    margin-right: 10px;
}
/* Header-list */
.header__list--none
{
    display: none;
}
.header__list
{
    width: 20vw !important;
    border:1px solid #ddd;
    border-bottom: 0px;
    font-size: 18px;
    background-color: var(--color-bg);
    position: absolute;

}
.header__list ul
{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding-left: 0px;
}
.header__list li    
{
    font-size: 16px;
    height: 14.3%;
    font-weight: 400;
    list-style-type: none;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.header__list li:hover
{
    color: var(--color-green);
    background-color: #ddd;
}

.header__main .header__wrap .header__menu
{
    flex: 1;
    display: flex;
    
}
.header__main .header__wrap .header__menu .header__box
{
    margin-left: 1vw;
    padding: 10px;
    cursor: pointer;
}
.header__main .header__wrap .header__menu .header__box:hover
{
    color:var(--color-green);
}
.header__main .header__wrap .header__menu .header__cart
{
    display: flex;
    align-items: center;
}
.header__main .header__wrap .header__menu .header__cart .header__text
{
    margin-right: 10px;
}
.header__main .header__wrap .header__menu .header__link
{
    color:var(--color-text);
    display: block;
}
.header__link
{
    color:var(--color-text);
}

/* outlet : main */
.header__list--visuable
{
    visibility:hidden;                                                                                                                                                                                                                                                                                                                                                                                                 
}
.header__link--knowledge{
    color:var(--color-text);
}
.header__link--knowledge:hover{
    color: var(--color-green);
}
.header__link--guide{
    color:var(--color-text);
}
.header__link--fengshui{
    color:var(--color-text);
}
.header__link--wholesale{
    color:var(--color-text);
}
.header__link--recruitment{
    color:var(--color-text);
}
.header__knowledgedrop
{

    display: none;
    color:var(--color-text);
    position: absolute;
}
.header__knowledgedrop div{
    display: block;
    background-color: #fff;

}
.header__search .button__search
{
    display: inline-block;
    color:var(--color-bg);
    border: none;
    background-color: var(--color-green);
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0px;

}

.header__knowledgedrop:hover  {
    display: block;
}
.header__knowledge
{
    display: inline-block;
    /* color:var(--color-green); */
}
.header__knowledge:hover .header__knowledgedrop {
    display: block;
}


