
.product__list
{
    display: flex;
    flex-wrap: wrap;
}
.product__item
{

    padding: 10px;
    width: 23.2%;
    margin:10px;
    cursor: pointer;
    border: 1px solid #847e7e;
    border-radius: 3px;
    box-shadow:2px 1px 3px 4px #e9dede6e;
}
.product__image
{
    aspect-ratio: 4/3;
    width: 100%;

}
.product__image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.product__title
{
    font-size: 20px;
    font-weight: 600;
    color:rgb(47, 47, 125)
}
.product__new-price
{
    font-weight: 700;
}
.product__old-price
{
    font-weight: 700;
    color:rgb(187, 58, 58);
    text-decoration: line-through;
}
.product__discount
{
    font-weight: 700;
    color:rgb(59, 110, 92);
}
button
{
    border-radius: 5px #ddd ;
    padding: 5px;
    margin-top: 5px;
    color:orange;
    cursor: pointer;
}
