@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root
{
    --color-green:#00B214;
    --color-bg:#fefefe;
    --color-text:#333333;
    font-family: 'Roboto';
}
.container
{
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none !important ;
}
/* responsive  */
@media screen and (max-width: 1200px)
{
    .container
    {
        max-width: 960px;
    }
    
}
@media (max-width:992px)
{
    .container
    {
        max-width: 720px;
    }
}
@media (max-width:768px)
{
    .container
    {
        max-width: 540px;
    }
}
@media (max-width:576px)
{
    .container
    {
        max-width: calc(100% - 30px);
    }
}
body{ min-height: 100vh; margin:0; }

header{ min-height:50px; }
footer{ min-height:50px; }

/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }
section.blog-section, section.inner-products,section.bestseller{
flex:1;
}